header {
    display: flex;
    height: 80px;
}

.leftHeader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--light-blue);
    font-size: 1.8em;
    padding-left: 40px;

}

.rightHeader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.rightHeader a:visited{
    color: var(--dark-navy);
    text-decoration: none;
}

.leftHeader a:visited {
    text-decoration: none;
    color: var(--light-blue);
}

.rightHeader a, .leftHeader a{
    text-decoration: none;
}

.inactive {
    color: #01303f;
}

.inactive:hover {
    color: var(--light-blue);
}

.active {
    color: var(--light-blue) !important;
}

.calcWrapper, .aboutWrapper, .apiWrapper {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.prefix {
    font-weight: normal;
    font-style: italic;
}

.match {
    font-weight: bold;
    font-style: normal;
}

.box {
    background-color: white;
    width: 70px;
    margin-top: 10px;
    height: 7px;
    border-radius: 2px;
}

.activeBox {
    background-color: var(--light-blue);
}